/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.grid-container{
	display: grid;

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 10rem auto 10rem;

	grid-template-areas:
		"header header header"
		". content ."
		"footer footer footer"
	;
}

.header-cell{
	grid-area: header;
}

.content-cell{
	grid-area: content;
}

.footer-cell{
	grid-area: footer;
}